/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.okt.2017, 19:50:26
    Author     : Daniel
*/
.topnav-background {
  background-color:#88f;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.center {
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #4CAF50;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.odd {
    background: #99ff99;
}

.even {
    background: #99ffff;
}